doctype html
html
  head
    title Generador de Números Aleatorios
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1 Generador de Números Aleatorios

    //- Distribuciones continuas
    form#continuous-form(action="/continuous" method="post")
      label(for="continuous-type") Distribución continua:
      select#continuous-type(name="type")
        option(value="uniform") Uniforme
        option(value="normal") Normal (Gaussiana)
        option(value="exponential") Exponencial
        option(value="gamma") Gamma
        option(value="beta") Beta
        option(value="log-normal") Log-normal
        option(value="weibull") Weibull
        option(value="cauchy") Cauchy
        option(value="triangular") Triangular
      div#continuous-params
      button(type="submit") Generar

    //- Distribuciones discretas
    form#discrete-form(action="/discrete" method="post")
      label(for="discrete-type") Distribución discreta:
      select#discrete-type(name="type")
        option(value="binomial") Binomial
        option(value="bernoulli") Bernoulli
        option(value="poisson") Poisson
        option(value="geometric") Geométrica
        option(value="hypergeometric") Hipergeométrica
        option(value="multinomial") Multinomial
      div#discrete-params
      button(type="submit") Generar

    div#results
      h2 Resultados
      ul#results-list

    script(src="/js/script.js")
