doctype html
html
  head
    title Registro de Usuario
    link(rel="stylesheet" href="/css/styles.css")
  body
    .login-body
      .wrapper
        form#registroForm(action="/registro" method="POST")
          h2 Registro
          .input-field
            input(type="text" name="nombres" id="nombres" required)
            label(for="nombres") Nombres:
          .input-field
            input(type="text" name="apellido_paterno" id="apellido_paterno" required)
            label(for="apellido_paterno") Apellido Paterno:
          .input-field
            input(type="text" name="apellido_materno" id="apellido_materno" required)
            label(for="apellido_materno") Apellido Materno:
          .input-field
            input(type="text" name="telefono" id="telefono" required)
            label(for="telefono") Teléfono:
          .input-field
            input(type="email" name="email" id="email" required)
            label(for="email") Correo Electrónico:
          .input-field
            input(type="text" name="usuario" id="usuario" required) 
            label(for="usuario") Nombre de Usuario:
          .input-field
            input(type="password" name="contrasenia" id="contrasenia" required)
            label(for="contrasenia") Contraseña:
          button(type="submit") Registrar

      if mensaje
        p.success= mensaje
      if error
        p.error
